/* alegreya-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya Regular'), local('Alegreya-Regular'),
         url('./templates/admorris_pro/fonts/alegreya/alegreya-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/alegreya/alegreya-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* alegreya-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 400;
    src: local('Alegreya Italic'), local('Alegreya-Italic'),
         url('./templates/admorris_pro/fonts/alegreya/alegreya-v10-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/alegreya/alegreya-v10-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* alegreya-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 500;
    src: local('Alegreya Medium'), local('Alegreya-Medium'),
         url('./templates/admorris_pro/fonts/alegreya/alegreya-v10-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/alegreya/alegreya-v10-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* alegreya-500italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 500;
    src: local('Alegreya Medium Italic'), local('Alegreya-MediumItalic'),
         url('./templates/admorris_pro/fonts/alegreya/alegreya-v10-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/alegreya/alegreya-v10-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* alegreya-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 700;
    src: local('Alegreya Bold'), local('Alegreya-Bold'),
         url('./templates/admorris_pro/fonts/alegreya/alegreya-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/alegreya/alegreya-v10-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* alegreya-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 700;
    src: local('Alegreya Bold Italic'), local('Alegreya-BoldItalic'),
         url('./templates/admorris_pro/fonts/alegreya/alegreya-v10-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/alegreya/alegreya-v10-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }