/* amatic-sc-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    src: local('Amatic SC Regular'), local('AmaticSC-Regular'),
         url('./templates/admorris_pro/fonts/amatic_sc/amatic-sc-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/amatic_sc/amatic-sc-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* amatic-sc-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    src: local('Amatic SC Bold'), local('AmaticSC-Bold'),
         url('./templates/admorris_pro/fonts/amatic_sc/amatic-sc-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/amatic_sc/amatic-sc-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }