/* amiri-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 400;
    src: local('Amiri Regular'), local('Amiri-Regular'),
         url('./templates/admorris_pro/fonts/amiri/amiri-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/amiri/amiri-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* amiri-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Amiri';
    font-style: italic;
    font-weight: 400;
    src: local('Amiri Italic'), local('Amiri-Italic'),
         url('./templates/admorris_pro/fonts/amiri/amiri-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/amiri/amiri-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* amiri-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 700;
    src: local('Amiri Bold'), local('Amiri-Bold'),
         url('./templates/admorris_pro/fonts/amiri/amiri-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/amiri/amiri-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* amiri-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Amiri';
    font-style: italic;
    font-weight: 700;
    src: local('Amiri Bold Italic'), local('Amiri-BoldItalic'),
         url('./templates/admorris_pro/fonts/amiri/amiri-v11-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/amiri/amiri-v11-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }