/* benchnine-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'BenchNine';
    font-style: normal;
    font-weight: 400;
    src: local('BenchNine Regular'), local('BenchNine-Regular'),
         url('./templates/admorris_pro/fonts/benchnine/benchnine-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/benchnine/benchnine-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* benchnine-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'BenchNine';
    font-style: normal;
    font-weight: 700;
    src: local('BenchNine Bold'), local('BenchNine-Bold'),
         url('./templates/admorris_pro/fonts/benchnine/benchnine-v6-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/benchnine/benchnine-v6-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }