/* cabin-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: local('Cabin'), local('Cabin-Regular'),
         url('./templates/admorris_pro/fonts/cabin/cabin-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/cabin/cabin-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* cabin-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 400;
    src: local('Cabin Italic'), local('Cabin-Italic'),
         url('./templates/admorris_pro/fonts/cabin/cabin-v12-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/cabin/cabin-v12-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* cabin-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 500;
    src: local('Cabin Medium'), local('Cabin-Medium'),
         url('./templates/admorris_pro/fonts/cabin/cabin-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/cabin/cabin-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* cabin-500italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 500;
    src: local('Cabin Medium Italic'), local('Cabin-MediumItalic'),
         url('./templates/admorris_pro/fonts/cabin/cabin-v12-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/cabin/cabin-v12-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* cabin-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    src: local('Cabin Bold'), local('Cabin-Bold'),
         url('./templates/admorris_pro/fonts/cabin/cabin-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/cabin/cabin-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* cabin-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 700;
    src: local('Cabin Bold Italic'), local('Cabin-BoldItalic'),
         url('./templates/admorris_pro/fonts/cabin/cabin-v12-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/cabin/cabin-v12-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }