/* caveat-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: local('Caveat Regular'), local('Caveat-Regular'),
         url('./templates/admorris_pro/fonts/caveat/caveat-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/caveat/caveat-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* caveat-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 700;
    src: local('Caveat Bold'), local('Caveat-Bold'),
         url('./templates/admorris_pro/fonts/caveat/caveat-v4-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/caveat/caveat-v4-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }