/* cinzel-decorative-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 400;
    src: local('Cinzel Decorative Regular'), local('CinzelDecorative-Regular'),
         url('./templates/admorris_pro/fonts/cinzel_decorative/cinzel-decorative-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/cinzel_decorative/cinzel-decorative-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* cinzel-decorative-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 700;
    src: local('Cinzel Decorative Bold'), local('CinzelDecorative-Bold'),
         url('./templates/admorris_pro/fonts/cinzel_decorative/cinzel-decorative-v6-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/cinzel_decorative/cinzel-decorative-v6-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }