/* crimson-text-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    src: local('Crimson Text Regular'), local('CrimsonText-Regular'),
         url('./templates/admorris_pro/fonts/crimson_text/crimson-text-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/crimson_text/crimson-text-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* crimson-text-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    src: local('Crimson Text Italic'), local('CrimsonText-Italic'),
         url('./templates/admorris_pro/fonts/crimson_text/crimson-text-v8-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/crimson_text/crimson-text-v8-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* crimson-text-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    src: local('Crimson Text Bold'), local('CrimsonText-Bold'),
         url('./templates/admorris_pro/fonts/crimson_text/crimson-text-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/crimson_text/crimson-text-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* crimson-text-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    src: local('Crimson Text Bold Italic'), local('CrimsonText-BoldItalic'),
         url('./templates/admorris_pro/fonts/crimson_text/crimson-text-v8-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/crimson_text/crimson-text-v8-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }