/* eb-garamond-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    src: local('EB Garamond Regular'), local('EBGaramond-Regular'),
         url('./templates/admorris_pro/fonts/eb_garamond/eb-garamond-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/eb_garamond/eb-garamond-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* eb-garamond-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 400;
    src: local('EB Garamond Italic'), local('EBGaramond-Italic'),
         url('./templates/admorris_pro/fonts/eb_garamond/eb-garamond-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/eb_garamond/eb-garamond-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* eb-garamond-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    src: local('EB Garamond Medium'), local('EBGaramond-Medium'),
         url('./templates/admorris_pro/fonts/eb_garamond/eb-garamond-v9-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/eb_garamond/eb-garamond-v9-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* eb-garamond-500italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 500;
    src: local('EB Garamond Medium Italic'), local('EBGaramond-MediumItalic'),
         url('./templates/admorris_pro/fonts/eb_garamond/eb-garamond-v9-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/eb_garamond/eb-garamond-v9-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* eb-garamond-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    src: local('EB Garamond Bold'), local('EBGaramond-Bold'),
         url('./templates/admorris_pro/fonts/eb_garamond/eb-garamond-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/eb_garamond/eb-garamond-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* eb-garamond-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 700;
    src: local('EB Garamond Bold Italic'), local('EBGaramond-BoldItalic'),
         url('./templates/admorris_pro/fonts/eb_garamond/eb-garamond-v9-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/eb_garamond/eb-garamond-v9-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }