/* encode-sans-condensed-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Encode Sans Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Encode Sans Condensed Regular'), local('EncodeSansCondensed-Regular'),
         url('./templates/admorris_pro/fonts/encode_sans_condensed/encode-sans-condensed-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/encode_sans_condensed/encode-sans-condensed-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* encode-sans-condensed-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Encode Sans Condensed';
    font-style: normal;
    font-weight: 500;
    src: local('Encode Sans Condensed Medium'), local('EncodeSansCondensed-Medium'),
         url('./templates/admorris_pro/fonts/encode_sans_condensed/encode-sans-condensed-v2-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/encode_sans_condensed/encode-sans-condensed-v2-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* encode-sans-condensed-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Encode Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Encode Sans Condensed Bold'), local('EncodeSansCondensed-Bold'),
         url('./templates/admorris_pro/fonts/encode_sans_condensed/encode-sans-condensed-v2-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/encode_sans_condensed/encode-sans-condensed-v2-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }