/* exo-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    src: local('Exo Regular'), local('Exo-Regular'),
         url('./templates/admorris_pro/fonts/exo/exo-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/exo/exo-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* exo-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Exo';
    font-style: italic;
    font-weight: 400;
    src: local('Exo Italic'), local('Exo-Italic'),
         url('./templates/admorris_pro/fonts/exo/exo-v6-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/exo/exo-v6-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* exo-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    src: local('Exo Medium'), local('Exo-Medium'),
         url('./templates/admorris_pro/fonts/exo/exo-v6-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/exo/exo-v6-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* exo-500italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Exo';
    font-style: italic;
    font-weight: 500;
    src: local('Exo Medium Italic'), local('Exo-MediumItalic'),
         url('./templates/admorris_pro/fonts/exo/exo-v6-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/exo/exo-v6-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* exo-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    src: local('Exo Bold'), local('Exo-Bold'),
         url('./templates/admorris_pro/fonts/exo/exo-v6-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/exo/exo-v6-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* exo-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Exo';
    font-style: italic;
    font-weight: 700;
    src: local('Exo Bold Italic'), local('Exo-BoldItalic'),
         url('./templates/admorris_pro/fonts/exo/exo-v6-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/exo/exo-v6-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }