/* fira-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Regular'), local('FiraSans-Regular'),
         url('./templates/admorris_pro/fonts/fira_sans/fira-sans-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/fira_sans/fira-sans-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* fira-sans-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Fira Sans Italic'), local('FiraSans-Italic'),
         url('./templates/admorris_pro/fonts/fira_sans/fira-sans-v8-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/fira_sans/fira-sans-v8-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* fira-sans-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Fira Sans Medium'), local('FiraSans-Medium'),
         url('./templates/admorris_pro/fonts/fira_sans/fira-sans-v8-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/fira_sans/fira-sans-v8-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* fira-sans-500italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 500;
    src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'),
         url('./templates/admorris_pro/fonts/fira_sans/fira-sans-v8-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/fira_sans/fira-sans-v8-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* fira-sans-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Fira Sans Bold'), local('FiraSans-Bold'),
         url('./templates/admorris_pro/fonts/fira_sans/fira-sans-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/fira_sans/fira-sans-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* fira-sans-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'),
         url('./templates/admorris_pro/fonts/fira_sans/fira-sans-v8-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/fira_sans/fira-sans-v8-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }