/* hind-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    src: local('Hind Regular'), local('Hind-Regular'),
         url('./templates/admorris_pro/fonts/hind/hind-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/hind/hind-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* hind-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 500;
    src: local('Hind Medium'), local('Hind-Medium'),
         url('./templates/admorris_pro/fonts/hind/hind-v8-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/hind/hind-v8-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* hind-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    src: local('Hind Bold'), local('Hind-Bold'),
         url('./templates/admorris_pro/fonts/hind/hind-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/hind/hind-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }