/* josefin-slab-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Slab Regular'), local('JosefinSlab-Regular'),
         url('./templates/admorris_pro/fonts/josefin_slab/josefin-slab-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/josefin_slab/josefin-slab-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* josefin-slab-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Josefin Slab';
    font-style: italic;
    font-weight: 400;
    src: local('Josefin Slab Italic'), local('JosefinSlab-Italic'),
         url('./templates/admorris_pro/fonts/josefin_slab/josefin-slab-v8-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/josefin_slab/josefin-slab-v8-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* josefin-slab-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: 700;
    src: local('Josefin Slab Bold'), local('JosefinSlab-Bold'),
         url('./templates/admorris_pro/fonts/josefin_slab/josefin-slab-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/josefin_slab/josefin-slab-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* josefin-slab-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Josefin Slab';
    font-style: italic;
    font-weight: 700;
    src: local('Josefin Slab Bold Italic'), local('JosefinSlab-BoldItalic'),
         url('./templates/admorris_pro/fonts/josefin_slab/josefin-slab-v8-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/josefin_slab/josefin-slab-v8-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }