/* josefin-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Josefin Sans Regular'), local('JosefinSans-Regular'),
         url('./templates/admorris_pro/fonts/josefin_sans/josefin-sans-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/josefin_sans/josefin-sans-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* josefin-sans-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Josefin Sans Italic'), local('JosefinSans-Italic'),
         url('./templates/admorris_pro/fonts/josefin_sans/josefin-sans-v12-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/josefin_sans/josefin-sans-v12-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* josefin-sans-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Josefin Sans Bold'), local('JosefinSans-Bold'),
         url('./templates/admorris_pro/fonts/josefin_sans/josefin-sans-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/josefin_sans/josefin-sans-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* josefin-sans-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Josefin Sans Bold Italic'), local('JosefinSans-BoldItalic'),
         url('./templates/admorris_pro/fonts/josefin_sans/josefin-sans-v12-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/josefin_sans/josefin-sans-v12-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }