/* kanit-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src: local('Kanit Regular'), local('Kanit-Regular'),
         url('./templates/admorris_pro/fonts/kanit/kanit-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/kanit/kanit-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* kanit-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Kanit';
    font-style: italic;
    font-weight: 400;
    src: local('Kanit Italic'), local('Kanit-Italic'),
         url('./templates/admorris_pro/fonts/kanit/kanit-v3-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/kanit/kanit-v3-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* kanit-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    src: local('Kanit Medium'), local('Kanit-Medium'),
         url('./templates/admorris_pro/fonts/kanit/kanit-v3-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/kanit/kanit-v3-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* kanit-500italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Kanit';
    font-style: italic;
    font-weight: 500;
    src: local('Kanit Medium Italic'), local('Kanit-MediumItalic'),
         url('./templates/admorris_pro/fonts/kanit/kanit-v3-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/kanit/kanit-v3-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* kanit-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    src: local('Kanit Bold'), local('Kanit-Bold'),
         url('./templates/admorris_pro/fonts/kanit/kanit-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/kanit/kanit-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* kanit-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Kanit';
    font-style: italic;
    font-weight: 700;
    src: local('Kanit Bold Italic'), local('Kanit-BoldItalic'),
         url('./templates/admorris_pro/fonts/kanit/kanit-v3-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/kanit/kanit-v3-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }