/* lobster-two-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Lobster Two';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster Two'), local('LobsterTwo'),
         url('./templates/admorris_pro/fonts/lobster_two/lobster-two-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/lobster_two/lobster-two-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lobster-two-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Lobster Two';
    font-style: italic;
    font-weight: 400;
    src: local('Lobster Two Italic'), local('LobsterTwo-Italic'),
         url('./templates/admorris_pro/fonts/lobster_two/lobster-two-v10-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/lobster_two/lobster-two-v10-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lobster-two-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Lobster Two';
    font-style: normal;
    font-weight: 700;
    src: local('Lobster Two Bold'), local('LobsterTwo-Bold'),
         url('./templates/admorris_pro/fonts/lobster_two/lobster-two-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/lobster_two/lobster-two-v10-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lobster-two-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Lobster Two';
    font-style: italic;
    font-weight: 700;
    src: local('Lobster Two Bold Italic'), local('LobsterTwo-BoldItalic'),
         url('./templates/admorris_pro/fonts/lobster_two/lobster-two-v10-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/lobster_two/lobster-two-v10-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }