/* maven-pro-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Maven Pro Regular'), local('MavenPro-Regular'),
         url('./templates/admorris_pro/fonts/maven_pro/maven-pro-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/maven_pro/maven-pro-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* maven-pro-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    src: local('Maven Pro Medium'), local('MavenPro-Medium'),
         url('./templates/admorris_pro/fonts/maven_pro/maven-pro-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/maven_pro/maven-pro-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* maven-pro-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Maven Pro Bold'), local('MavenPro-Bold'),
         url('./templates/admorris_pro/fonts/maven_pro/maven-pro-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/maven_pro/maven-pro-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }