/* merriweather-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Merriweather Sans'), local('MerriweatherSans-Regular'),
         url('./templates/admorris_pro/fonts/merriweather_sans/merriweather-sans-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/merriweather_sans/merriweather-sans-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* merriweather-sans-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Merriweather Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Merriweather Sans Italic'), local('MerriweatherSans-Italic'),
         url('./templates/admorris_pro/fonts/merriweather_sans/merriweather-sans-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/merriweather_sans/merriweather-sans-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* merriweather-sans-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Merriweather Sans Bold'), local('MerriweatherSans-Bold'),
         url('./templates/admorris_pro/fonts/merriweather_sans/merriweather-sans-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/merriweather_sans/merriweather-sans-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* merriweather-sans-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Merriweather Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Merriweather Sans Bold Italic'), local('MerriweatherSans-BoldItalic'),
         url('./templates/admorris_pro/fonts/merriweather_sans/merriweather-sans-v9-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/merriweather_sans/merriweather-sans-v9-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }