/* muli-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli Regular'), local('Muli-Regular'),
         url('./templates/admorris_pro/fonts/muli/muli-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/muli/muli-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* muli-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Muli';
    font-style: italic;
    font-weight: 400;
    src: local('Muli Italic'), local('Muli-Italic'),
         url('./templates/admorris_pro/fonts/muli/muli-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/muli/muli-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* muli-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    src: local('Muli Bold'), local('Muli-Bold'),
         url('./templates/admorris_pro/fonts/muli/muli-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/muli/muli-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* muli-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Muli';
    font-style: italic;
    font-weight: 700;
    src: local('Muli Bold Italic'), local('Muli-BoldItalic'),
         url('./templates/admorris_pro/fonts/muli/muli-v11-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/muli/muli-v11-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }