/* nanum-gothic-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: local('NanumGothic'),
         url('./templates/admorris_pro/fonts/nanum_gothic/nanum-gothic-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/nanum_gothic/nanum-gothic-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* nanum-gothic-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
         url('./templates/admorris_pro/fonts/nanum_gothic/nanum-gothic-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/nanum_gothic/nanum-gothic-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }