/* noticia-text-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Noticia Text';
    font-style: normal;
    font-weight: 400;
    src: local('Noticia Text'), local('NoticiaText-Regular'),
         url('./templates/admorris_pro/fonts/noticia_text/noticia-text-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/noticia_text/noticia-text-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noticia-text-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Noticia Text';
    font-style: italic;
    font-weight: 400;
    src: local('Noticia Text Italic'), local('NoticiaText-Italic'),
         url('./templates/admorris_pro/fonts/noticia_text/noticia-text-v7-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/noticia_text/noticia-text-v7-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noticia-text-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Noticia Text';
    font-style: normal;
    font-weight: 700;
    src: local('Noticia Text Bold'), local('NoticiaText-Bold'),
         url('./templates/admorris_pro/fonts/noticia_text/noticia-text-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/noticia_text/noticia-text-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noticia-text-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Noticia Text';
    font-style: italic;
    font-weight: 700;
    src: local('Noticia Text Bold Italic'), local('NoticiaText-BoldItalic'),
         url('./templates/admorris_pro/fonts/noticia_text/noticia-text-v7-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/noticia_text/noticia-text-v7-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }