/* nunito-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'),
         url('./templates/admorris_pro/fonts/nunito/nunito-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/nunito/nunito-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* nunito-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 400;
    src: local('Nunito Italic'), local('Nunito-Italic'),
         url('./templates/admorris_pro/fonts/nunito/nunito-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/nunito/nunito-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* nunito-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: local('Nunito Bold'), local('Nunito-Bold'),
         url('./templates/admorris_pro/fonts/nunito/nunito-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/nunito/nunito-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* nunito-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 700;
    src: local('Nunito Bold Italic'), local('Nunito-BoldItalic'),
         url('./templates/admorris_pro/fonts/nunito/nunito-v9-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/nunito/nunito-v9-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }