/* nunito-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
         url('./templates/admorris_pro/fonts/nunito_sans/nunito-sans-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/nunito_sans/nunito-sans-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* nunito-sans-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Nunito Sans Italic'), local('NunitoSans-Italic'),
         url('./templates/admorris_pro/fonts/nunito_sans/nunito-sans-v3-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/nunito_sans/nunito-sans-v3-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* nunito-sans-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Nunito Sans Bold'), local('NunitoSans-Bold'),
         url('./templates/admorris_pro/fonts/nunito_sans/nunito-sans-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/nunito_sans/nunito-sans-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* nunito-sans-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Nunito Sans Bold Italic'), local('NunitoSans-BoldItalic'),
         url('./templates/admorris_pro/fonts/nunito_sans/nunito-sans-v3-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/nunito_sans/nunito-sans-v3-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }