/* old-standard-tt-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    src: local('Old Standard TT Regular'), local('OldStandardTT-Regular'),
         url('./templates/admorris_pro/fonts/old_standard_tt/old-standard-tt-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/old_standard_tt/old-standard-tt-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* old-standard-tt-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Old Standard TT';
    font-style: italic;
    font-weight: 400;
    src: local('Old Standard TT Italic'), local('OldStandardTT-Italic'),
         url('./templates/admorris_pro/fonts/old_standard_tt/old-standard-tt-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/old_standard_tt/old-standard-tt-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* old-standard-tt-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    src: local('Old Standard TT Bold'), local('OldStandardTT-Bold'),
         url('./templates/admorris_pro/fonts/old_standard_tt/old-standard-tt-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/old_standard_tt/old-standard-tt-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }