/* orbitron-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: local('Orbitron Regular'), local('Orbitron-Regular'),
         url('./templates/admorris_pro/fonts/orbitron/orbitron-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/orbitron/orbitron-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* orbitron-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 500;
    src: local('Orbitron Medium'), local('Orbitron-Medium'),
         url('./templates/admorris_pro/fonts/orbitron/orbitron-v9-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/orbitron/orbitron-v9-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* orbitron-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    src: local('Orbitron Bold'), local('Orbitron-Bold'),
         url('./templates/admorris_pro/fonts/orbitron/orbitron-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/orbitron/orbitron-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }