/* overlock-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 400;
    src: local('Overlock Regular'), local('Overlock-Regular'),
         url('./templates/admorris_pro/fonts/overlock/overlock-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/overlock/overlock-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* overlock-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Overlock';
    font-style: italic;
    font-weight: 400;
    src: local('Overlock Italic'), local('Overlock-Italic'),
         url('./templates/admorris_pro/fonts/overlock/overlock-v7-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/overlock/overlock-v7-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* overlock-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    src: local('Overlock Bold'), local('Overlock-Bold'),
         url('./templates/admorris_pro/fonts/overlock/overlock-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/overlock/overlock-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* overlock-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Overlock';
    font-style: italic;
    font-weight: 700;
    src: local('Overlock Bold Italic'), local('Overlock-BoldItalic'),
         url('./templates/admorris_pro/fonts/overlock/overlock-v7-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/overlock/overlock-v7-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }