/* passion-one-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Passion One';
    font-style: normal;
    font-weight: 400;
    src: local('Passion One Regular'), local('PassionOne-Regular'),
         url('./templates/admorris_pro/fonts/passion_one/passion-one-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/passion_one/passion-one-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* passion-one-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Passion One';
    font-style: normal;
    font-weight: 700;
    src: local('Passion One Bold'), local('PassionOne-Bold'),
         url('./templates/admorris_pro/fonts/passion_one/passion-one-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/passion_one/passion-one-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }