/* playfair-display-sc-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: 400;
    src: local('Playfair Display SC Regular'), local('PlayfairDisplaySC-Regular'),
         url('./templates/admorris_pro/fonts/playfair_display_sc/playfair-display-sc-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/playfair_display_sc/playfair-display-sc-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* playfair-display-sc-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Playfair Display SC';
    font-style: italic;
    font-weight: 400;
    src: local('Playfair Display SC Italic'), local('PlayfairDisplaySC-Italic'),
         url('./templates/admorris_pro/fonts/playfair_display_sc/playfair-display-sc-v7-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/playfair_display_sc/playfair-display-sc-v7-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* playfair-display-sc-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: 700;
    src: local('Playfair Display SC Bold'), local('PlayfairDisplaySC-Bold'),
         url('./templates/admorris_pro/fonts/playfair_display_sc/playfair-display-sc-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/playfair_display_sc/playfair-display-sc-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* playfair-display-sc-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Playfair Display SC';
    font-style: italic;
    font-weight: 700;
    src: local('Playfair Display SC Bold Italic'), local('PlayfairDisplaySC-BoldItalic'),
         url('./templates/admorris_pro/fonts/playfair_display_sc/playfair-display-sc-v7-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/playfair_display_sc/playfair-display-sc-v7-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }