/* prompt-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    src: local('Prompt'), local('Prompt-Regular'),
         url('./templates/admorris_pro/fonts/prompt/prompt-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/prompt/prompt-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* prompt-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Prompt';
    font-style: italic;
    font-weight: 400;
    src: local('Prompt Italic'), local('Prompt-Italic'),
         url('./templates/admorris_pro/fonts/prompt/prompt-v2-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/prompt/prompt-v2-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* prompt-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    src: local('Prompt Medium'), local('Prompt-Medium'),
         url('./templates/admorris_pro/fonts/prompt/prompt-v2-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/prompt/prompt-v2-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* prompt-500italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Prompt';
    font-style: italic;
    font-weight: 500;
    src: local('Prompt Medium Italic'), local('Prompt-MediumItalic'),
         url('./templates/admorris_pro/fonts/prompt/prompt-v2-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/prompt/prompt-v2-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* prompt-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 700;
    src: local('Prompt Bold'), local('Prompt-Bold'),
         url('./templates/admorris_pro/fonts/prompt/prompt-v2-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/prompt/prompt-v2-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* prompt-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Prompt';
    font-style: italic;
    font-weight: 700;
    src: local('Prompt Bold Italic'), local('Prompt-BoldItalic'),
         url('./templates/admorris_pro/fonts/prompt/prompt-v2-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/prompt/prompt-v2-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }