/* pt-sans-caption-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans Caption'), local('PTSans-Caption'),
         url('./templates/admorris_pro/fonts/pt_sans_caption/pt-sans-caption-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/pt_sans_caption/pt-sans-caption-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* pt-sans-caption-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Caption Bold'), local('PTSans-CaptionBold'),
         url('./templates/admorris_pro/fonts/pt_sans_caption/pt-sans-caption-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/pt_sans_caption/pt-sans-caption-v10-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }