/* pt-sans-narrow-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans Narrow'), local('PTSans-Narrow'),
         url('./templates/admorris_pro/fonts/pt_sans_narrow/pt-sans-narrow-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/pt_sans_narrow/pt-sans-narrow-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* pt-sans-narrow-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
         url('./templates/admorris_pro/fonts/pt_sans_narrow/pt-sans-narrow-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/pt_sans_narrow/pt-sans-narrow-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }