/* quattrocento-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Quattrocento Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Quattrocento Sans'), local('QuattrocentoSans'),
         url('./templates/admorris_pro/fonts/quattrocento_sans/quattrocento-sans-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/quattrocento_sans/quattrocento-sans-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* quattrocento-sans-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Quattrocento Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Quattrocento Sans Italic'), local('QuattrocentoSans-Italic'),
         url('./templates/admorris_pro/fonts/quattrocento_sans/quattrocento-sans-v10-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/quattrocento_sans/quattrocento-sans-v10-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* quattrocento-sans-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Quattrocento Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Quattrocento Sans Bold'), local('QuattrocentoSans-Bold'),
         url('./templates/admorris_pro/fonts/quattrocento_sans/quattrocento-sans-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/quattrocento_sans/quattrocento-sans-v10-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* quattrocento-sans-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Quattrocento Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Quattrocento Sans Bold Italic'), local('QuattrocentoSans-BoldItalic'),
         url('./templates/admorris_pro/fonts/quattrocento_sans/quattrocento-sans-v10-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/quattrocento_sans/quattrocento-sans-v10-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }