/* raleway-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: local('Raleway Italic'), local('Raleway-Italic'),
         url('./templates/admorris_pro/fonts/raleway/raleway-v12-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/raleway/raleway-v12-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'),
         url('./templates/admorris_pro/fonts/raleway/raleway-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/raleway/raleway-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: local('Raleway Medium'), local('Raleway-Medium'),
         url('./templates/admorris_pro/fonts/raleway/raleway-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/raleway/raleway-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-500italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 500;
    src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'),
         url('./templates/admorris_pro/fonts/raleway/raleway-v12-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/raleway/raleway-v12-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'),
         url('./templates/admorris_pro/fonts/raleway/raleway-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/raleway/raleway-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 700;
    src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
         url('./templates/admorris_pro/fonts/raleway/raleway-v12-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/raleway/raleway-v12-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }