/* roboto-mono-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Mono'), local('RobotoMono-Regular'),
         url('./templates/admorris_pro/fonts/roboto_mono/roboto-mono-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/roboto_mono/roboto-mono-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-mono-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Mono Italic'), local('RobotoMono-Italic'),
         url('./templates/admorris_pro/fonts/roboto_mono/roboto-mono-v5-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/roboto_mono/roboto-mono-v5-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-mono-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Mono Medium'), local('RobotoMono-Medium'),
         url('./templates/admorris_pro/fonts/roboto_mono/roboto-mono-v5-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/roboto_mono/roboto-mono-v5-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-mono-500italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Mono Medium Italic'), local('RobotoMono-MediumItalic'),
         url('./templates/admorris_pro/fonts/roboto_mono/roboto-mono-v5-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/roboto_mono/roboto-mono-v5-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-mono-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Mono Bold'), local('RobotoMono-Bold'),
         url('./templates/admorris_pro/fonts/roboto_mono/roboto-mono-v5-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/roboto_mono/roboto-mono-v5-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-mono-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Mono Bold Italic'), local('RobotoMono-BoldItalic'),
         url('./templates/admorris_pro/fonts/roboto_mono/roboto-mono-v5-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/roboto_mono/roboto-mono-v5-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }