/* rokkitt-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Rokkitt';
    font-style: normal;
    font-weight: 400;
    src: local('Rokkitt Regular'), local('Rokkitt-Regular'),
         url('./templates/admorris_pro/fonts/rokkitt/rokkitt-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/rokkitt/rokkitt-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rokkitt-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Rokkitt';
    font-style: normal;
    font-weight: 500;
    src: local('Rokkitt Medium'), local('Rokkitt-Medium'),
         url('./templates/admorris_pro/fonts/rokkitt/rokkitt-v12-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/rokkitt/rokkitt-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rokkitt-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Rokkitt';
    font-style: normal;
    font-weight: 700;
    src: local('Rokkitt Bold'), local('Rokkitt-Bold'),
         url('./templates/admorris_pro/fonts/rokkitt/rokkitt-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/rokkitt/rokkitt-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }