/* rubik-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local('Rubik'), local('Rubik-Regular'),
         url('./templates/admorris_pro/fonts/rubik/rubik-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/rubik/rubik-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rubik-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    src: local('Rubik Italic'), local('Rubik-Italic'),
         url('./templates/admorris_pro/fonts/rubik/rubik-v7-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/rubik/rubik-v7-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rubik-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local('Rubik Medium'), local('Rubik-Medium'),
         url('./templates/admorris_pro/fonts/rubik/rubik-v7-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/rubik/rubik-v7-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rubik-500italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 500;
    src: local('Rubik Medium Italic'), local('Rubik-MediumItalic'),
         url('./templates/admorris_pro/fonts/rubik/rubik-v7-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/rubik/rubik-v7-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rubik-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: local('Rubik Bold'), local('Rubik-Bold'),
         url('./templates/admorris_pro/fonts/rubik/rubik-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/rubik/rubik-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rubik-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 700;
    src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'),
         url('./templates/admorris_pro/fonts/rubik/rubik-v7-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/rubik/rubik-v7-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }