/* source-serif-pro-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Serif Pro'), local('SourceSerifPro-Regular'),
         url('./templates/admorris_pro/fonts/source_serif_pro/source-serif-pro-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/source_serif_pro/source-serif-pro-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* source-serif-pro-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Serif Pro Bold'), local('SourceSerifPro-Bold'),
         url('./templates/admorris_pro/fonts/source_serif_pro/source-serif-pro-v5-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/source_serif_pro/source-serif-pro-v5-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }