/* vollkorn-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    src: local('Vollkorn Regular'), local('Vollkorn-Regular'),
         url('./templates/admorris_pro/fonts/vollkorn/vollkorn-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/vollkorn/vollkorn-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* vollkorn-italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    src: local('Vollkorn Italic'), local('Vollkorn-Italic'),
         url('./templates/admorris_pro/fonts/vollkorn/vollkorn-v8-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/vollkorn/vollkorn-v8-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* vollkorn-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 700;
    src: local('Vollkorn Bold'), local('Vollkorn-Bold'),
         url('./templates/admorris_pro/fonts/vollkorn/vollkorn-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/vollkorn/vollkorn-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* vollkorn-700italic - latin */
  @font-face {
    font-display: swap;
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 700;
    src: local('Vollkorn Bold Italic'), local('Vollkorn-BoldItalic'),
         url('./templates/admorris_pro/fonts/vollkorn/vollkorn-v8-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/vollkorn/vollkorn-v8-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }