/* yanone-kaffeesatz-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'),
         url('./templates/admorris_pro/fonts/yanone_kaffeesatz/yanone-kaffeesatz-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/yanone_kaffeesatz/yanone-kaffeesatz-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* yanone-kaffeesatz-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'),
         url('./templates/admorris_pro/fonts/yanone_kaffeesatz/yanone-kaffeesatz-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/yanone_kaffeesatz/yanone-kaffeesatz-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }