/* yantramanav-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 400;
    src: local('Yantramanav Regular'), local('Yantramanav-Regular'),
         url('./templates/admorris_pro/fonts/yantramanav/yantramanav-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/yantramanav/yantramanav-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* yantramanav-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 500;
    src: local('Yantramanav Medium'), local('Yantramanav-Medium'),
         url('./templates/admorris_pro/fonts/yantramanav/yantramanav-v3-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/yantramanav/yantramanav-v3-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* yantramanav-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Yantramanav';
    font-style: normal;
    font-weight: 700;
    src: local('Yantramanav Bold'), local('Yantramanav-Bold'),
         url('./templates/admorris_pro/fonts/yantramanav/yantramanav-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./templates/admorris_pro/fonts/yantramanav/yantramanav-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }