<Files *.tpl>
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order Deny,Allow
        Deny from all
    </IfModule>
</Files>

<Files *.php>
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order Deny,Allow
        Deny from all
    </IfModule>
</Files>

<Files "index.php">
    Require all granted
</Files>


<IfModule mod_alias.c>
    RedirectMatch 302 package.json /404
    RedirectMatch 302 package-lock.json /404
    RedirectMatch 302 composer.json /404
    RedirectMatch 302 composer-lock.json /404
    RedirectMatch 302 jsconfig.json /404
    RedirectMatch 302 gulpfile.js /404
</IfModule>

<IfModule mod_headers.c>
    Header set Cache-Control "max-age=31536000, public"
</IfModule>
