@use 'sass:math';

$offcanvas-menu-separator-color: rgba($offcanvas-menu-text-color, math.div(10%, 100%)) !default;
$offcanvas-hover-background-color: rgba($offcanvas-menu-text-color, math.div(25%, 100%)) !default;

$offcanvas-menu-link-text-transform: uppercase !default;
$offcanvas-desktop-width: 350px !default;

.navbar-offcanvas {
    --offcanvas-padding: 20px;
    --offcanvas-padding-desktop: 30px;

    padding-left: var(--offcanvas-padding);
    padding-right: var(--offcanvas-padding);
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    top: 0;
    left: 0;
    z-index: $zindex-modal;
    visibility: hidden;
    content-visibility: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    transition: transform 0.2s ease-in;
    transform: translateX(-100%);
    border: 0;

    @media (min-width: $screen-sm) {
        width: $offcanvas-desktop-width;
        --offcanvas-padding: var(--offcanvas-padding-desktop);

        transition-timing-function: ease;
    }

    .show & {
        transform: translateX(0);
        visibility: visible;
    }

    // &.navbar-offcanvas-fade {
    //     opacity: 0;
    // }

    // &.navbar-offcanvas-fade.show {
    //     opacity: 1;
    // }

    // &.offcanvas-position.show {
    //     left: 0;
    // }

    .dropdown.active .caret {
        border-top: 0;
        border-bottom: 4px solid;
    }

    .nav {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .dropdown-menu {
        float: none;
        position: relative;
        // display: block;
        width: 100%;
        background: inherit;
        border: inherit;
        box-shadow: none;
        padding: 0;
        overflow: hidden;
        transition: all 0.15s ease-in;
        // height: 0;
        color: inherit;
    }

    :is(.manufacturers, .cms-megamenu) .dropdown-menu {
        overflow: visible;

        .nav-link {
            padding-inline: var(--offcanvas-padding);
        }
    }

    // .dropdown-menu.shown {
    //     height: auto;
    // }

    // .nav .nav {
    //     display: none;
    // }

    .nav--offcanvas .nav-link,
    .offcanvas-nav__element .shopnav__link {
        //     padding-left: 0;
        //     padding-right: 0;

        padding-inline: var(--offcanvas-padding);
        margin-inline: calc(var(--offcanvas-padding) * -1);

        // text-transform: $offcanvas-menu-link-text-transform;

        display: flex;
        align-items: center;
        width: 100%;
        box-sizing: content-box;
        color: inherit;
        gap: 0.5em;
    }

    .navbar-toggler {
        margin-right: calc($navbar-toggler-padding-x * -1);
        color: inherit;
    }
}
.navbar-offcanvas {
    .dropdown-toggle {
        display: flex;
        // justify-content: space-between;
        flex: 1;

        // .icon-content:last-child {
        //     margin-left: auto;
        // }
    }
    .navbar-categories__view {
        display: flex;
        align-items: center;
    }
}

.offcanvas-nav__element .shopnav__link,
.nav--offcanvas a {
    text-transform: $offcanvas-menu-link-text-transform;
}

.navbar-categories {
    @at-root& a {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// .offcanvas-nav__element {
//     [class*="__icon"] {
//         width: 1.3em;
//         text-align: center;
//         margin-left: -0.2em;
//     }
// }

.nav-sub {
    display: flex;
    align-items: center;
    // &#{&}#{&} {
    //     display: flex;
    // }
    .nav-toggle {
        width: 2rem;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.offcanvas-nav .modal-dialog {
    // necessary for Sarari, otherwise the menu is offset
    margin: 0;
}

.offcanvas-nav--menu {
    .navbar-offcanvas {
        background-color: $offcanvas-menu-background-color;
        color: $offcanvas-menu-text-color;
    }

    .nav-toggle {
        right: var(--offcanvas-padding);
        width: auto;
    }

    .dropdown-menu.dropdown-menu a {
        color: $offcanvas-menu-text-color;
        padding: 5px 15px 5px 30px;
    }

    .nav-link,
    a {
        color: $offcanvas-menu-text-color;
    }

    .nav a {
        &:hover,
        &:focus,
        &:active {
            background-color: $offcanvas-hover-background-color;
        }
    }

    .dropdown-menu > li {
        & > a:hover,
        & a:focus {
            background-color: $offcanvas-hover-background-color;
        }

        .megamenu-content__item {
            a {
                padding: 5px 15px 5px 30px;
                font-weight: normal;
                display: block;
            }
            a,
            a:hover,
            a:focus {
                color: $offcanvas-menu-text-color;
            }
        }
    }
}

.offcanvas-nav--filter {
    aside {
        background-color: $offcanvas-filter-background-color;
        color: $offcanvas-filter-text-color;
    }

    .dropdown-item {
        color: $offcanvas-filter-text-color;
        padding: 5px 15px 5px 30px;
    }

    a,
    .card > .card-header {
        color: $offcanvas-filter-text-color;
    }

    .nav-link {
        // background-color: $offcanvas-hover-background-color;

        &:hover,
        &:focus,
        &:active {
            background-color: $offcanvas-hover-background-color;
            color: $offcanvas-filter-text-hover-color;
        }
    }
}

.btn-offcanvas {
    margin: 5px -12px;
    background-color: transparent;

    .productlist__sidebar & {
        &,
        &:hover,
        &:active,
        &:focus {
            color: $offcanvas-filter-text-color;
        }
    }
    .offcanvas-nav--menu & {
        &,
        &:hover,
        &:active,
        &:focus {
            color: $offcanvas-menu-text-color;
        }
    }
}

.offcanvas-toggle.offcanvas-toggle-close {
    margin-right: 0;

    // .icon-bar:nth-child(1) {
    //     transform: rotate(45deg) translate(5px, 4px);
    // }

    // .icon-bar:nth-child(2) {
    //     opacity: 0 !important;
    // }

    // .icon-bar:nth-child(3) {
    //     transform: rotate(-45deg) translate(4px, -4px);
    // }
}

.sidebar-offcanvas {
    height: 100%;

    > * + * {
        // padding-top: 5px;
        // margin-top: 5px;
        border-top: 1px solid $offcanvas-menu-separator-color;
    }

    .navbar-categories {
        margin-top: 0;
    }

    &.flex-column > *:last-child {
        flex: unset;
    }
}

.offcanvas-nav__group--spacing-wide {
    .offcanvas-nav__element + .offcanvas-nav__element {
        margin-top: 20px;
    }
}

.offcanvas-nav__group--horizontal .nav {
    & > li {
        float: left;
    }
    // & > li + li {
    //     margin-left: 10px;
    // }
}

.navbar-categories .nav--offcanvas .nav {
    display: none;
}

.navbar-categories__back-link,
.navbar-categories__current {
    display: inline-block !important;
}

.navbar-categories__back-link {
    margin-right: 0 !important;
    width: auto !important;
}

.navbar-categories__current {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: $offcanvas-menu-text-color;
}

.navbar-categories__view {
    text-transform: none;
    margin-left: 1em;
}

.offcanvas-nav__element--stretch,
.offcanvas-nav__group--stretch {
    flex-grow: 1;
}

.offcanvas-nav__element {
    &.search {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar-offcanvas .navbar-categories__title {
    flex-direction: row;
    border-bottom: 1px solid $offcanvas-menu-separator-color;
}
