$page-heading-bottom-margin: 60px;

.page-heading {
    // text-align: center;
    margin-bottom: $page-heading-bottom-margin * 0.5;
    color: $tone-base;

    @media (min-width: $screen-lg) {
        font-size: 4.1538rem;
        margin-bottom: $page-heading-bottom-margin;
    }
}

.page-content {
    // color: $tone-50;
    // max-width: 1112px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 128px; //.pptfs(163px)[$result];

    img {
        max-width: 100%;
        height: auto;
    }

    // &.page-content--left {
    //     margin-left: 0;
    // }

    // @media (min-width: $screen-md) {
    //     width: 85%;
    // }

    // @media (min-width: $screen-lg) {
    //     width: 70%;
    // }
}

.subheading {
    margin-bottom: calc($page-heading-bottom-margin / 2);
    // text-align: center;
    text-transform: uppercase;
    color: $tone-base;
    @media (min-width: $screen-lg) {
        font-size: 1.385rem;
        margin-bottom: $page-heading-bottom-margin;
    }

    .page-heading + &,
    .page-content > &:first-child {
        margin-top: calc(-1 * $page-heading-bottom-margin / 2 + 24px);
        @media (min-width: $screen-lg) {
            margin-top: -1 * $page-heading-bottom-margin + 24;
        }
    }
}

.productlist-search-heading {
    overflow-wrap: break-word;
}
