.productlist__row .gallery,
.opc-ProductStream-gallery {
    @extend .row-gap;
    @extend .row-gap-4;
}

table {
    background-color: $table-bg;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(249, 249, 249, 0.1);
}

label {
    > .radio-checkbox + .col-form-label {
        color: $text-color;
    }

    > .description {
        margin-left: 15px;
    }
}

.checkbox label > .radio-checkbox + .col-form-label {
    margin-left: 0;
}

// #main-wrapper {
//     background-color: transparent !important;
// }

/* not used in tpl files */
// @media (width < breakpoint-min(sm)) {
//     .no-gutter-xs > [class*='col-'] {
//         padding-right: 0;
//         padding-left: 0;
//     }
// }

// image Lazy-load

img {
    opacity: 1;
}

img[src='gfx/keinBild.gif'] {
    width: 100%;
    .comparelist & {
        width: auto;
    }
}

/**
*   Nach dem Load von Variationen bleibt der 
*   data-src-Attribut auf dem img-Tag.
*   Bitte anders setzen

img[data-src] {
    opacity: 0; 
}

*/

// transparent header

// .main-wrapper [id='evo-nav-wrapper'].transparent-header {
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     z-index: 999;
//     background-color: transparent;

//     .category-nav {
//         background-color: transparent;
//     }

//     [id='evo-main-nav'] {
//         background-color: transparent;
//         background-image: none;
//         box-shadow: none;
//     }
// }

// .btn {
//     border-radius: $btn-border-radius;
// }

// .btn[name='inWarenkorb'],
// .product-cell__add-to-basket-button {
//     padding: 0.822em 0.822em;
// }

#plugin-placeholder-article,
#plugin-placeholder-basket {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* Custom [+} Icon 
 * used in bundles
 */

.ci-plus {
    display: inline-block;
    position: relative;
    height: $plus-n-minus-button-size;
    width: $plus-n-minus-button-size;
    opacity: 0.5;

    &:after,
    &:before {
        content: ' ';
        border-top: 1px solid $text-color;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translate(-50%);
    }

    &:before {
        -webkit-transform: translate(-50%) rotate(90deg);
        transform: translate(-50%) rotate(90deg);
    }
}

/**
 * 5-column grid class
 */
.col-lg-1\/5 {
    @media (width > breakpoint-min(lg)) {
        flex: 0 0 20%;
        max-width: 20%;
    }
}
.col-xl-1\/5 {
    @media (width > breakpoint-min(xl)) {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.col-xxl-1\/5 {
    @media (width > breakpoint-min(xxl)) {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.table-vertical-borders {
    > tfoot {
        > tr {
            > th,
            > td {
                border-left: 1px solid $table-border-color;
                border-bottom: 0;
            }
        }
    }
}

// input.city_input {
//     background-color: $input-bg !important;
// }

.flex-button-group {
    display: flex;

    input[type='text'] {
        flex: 1 1 auto;
    }
}

.flex-button-group--wrap {
    @media (max-width: $screen-xs-max) {
        flex-wrap: wrap;

        input[type='text'] {
            width: 100%;
        }

        > * + * {
            margin-top: 1em;
        }
    }
}

.list-group-item {
    color: $list-group-action-color;
}

label {
    display: block;
}

.modal-header {
    .close:first-child {
        order: 100;
    }
}
