/* Styles that are below the fold go here */

@import 'abstracts/base-imports';

@import 'vendor/bootstrap/dropdown';
@import 'vendor/bootstrap/toasts';
@import 'vendor/bootstrap/modal';
@import 'vendor/bootstrap/tooltip';
@import 'vendor/bootstrap/popover';
// @import 'vendor/bootstrap/carousel';
@import 'vendor/bootstrap/print';

@import 'layout/footer';
@import 'layout/offcanvas';
@import 'layout/header-dropdowns';
@import 'layout/megamenu-content';
@import 'components/scroll-to-top-button';
@import 'components/home-news-slider';
@import 'components/pagination';
@import 'components/dropdowns';
@import 'components/modal';

@import 'user-styles/non-critical';
