@use 'sass:map';
@use 'sass:color';

.badge {
    border: $border-width solid transparent;
    text-decoration: none;
}

@each $color, $value in $theme-colors {
    .badge-outline-#{$color} {
        border-color: $value;
        color: $value;
        @at-root a#{&} {
            @include hover-focus {
                color: color-yiq($value);
                background-color: color.adjust($value, $lightness: -10%, $space: hsl);
            }

            &:focus,
            &.focus {
                outline: 0;
                box-shadow: 0 0 0 $badge-focus-width rgba($value, 0.5);
            }
        }
    }
}

.badge-secondary {
    background-color: $gray-darker;
}

.badge-light {
    color: $gray-darker;
}

.badge-outline-secondary {
    border-color: $secondary;
    color: $secondary;
}

.bubble {
    font-size: $font-size-lg;
    border: 2px solid $gray-lighter;
    border-radius: 50%;
    padding: 12px !important;
    background: #fff;
    margin-top: -(map.get($spacers, 4));
}

.badge-check {
    border: 2px solid $primary;
    .badge-circle {
        display: flex;
        background-color: $primary;
        border-color: $primary;
        color: #fff;
        opacity: 1;
        align-items: center;
        position: absolute;
        top: -22px;
        right: -22px;
    }
}

.variation {
    .badge {
        display: inline-flex;
        align-items: center;
    }
}

.badge-not-available {
    margin-left: map.get($spacers, 2);
}

.badge-circle {
    background-color: $white;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-width: 44px;
    width: 44px;
    height: 44px;
    border: 2px solid $gray;
    opacity: 0.7;
    color: $gray;
    font-size: 18px !important;
    line-height: 15px !important;
    border-radius: 50% !important;
    padding: 0;
    z-index: 1;

    &::before {
        display: none;
    }

    &.circle-small {
        width: 36px;
        height: 36px;
        min-width: 36px;
        font-size: 14px !important;
        line-height: 12px !important;
    }

    &:hover,
    &:focus {
        background-color: $primary;
        border-color: $primary;
        color: $white;
        opacity: 1;
    }
}

.badge-circle-1 {
    background-color: $white;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-width: 44px;
    width: 44px;
    height: 44px;
    border: 1px solid $gray;
    opacity: 0.8;
    color: $gray;
    font-size: 18px;
    line-height: 15px;
    border-radius: 50% !important;
    transition: all .2s;

    &::before {
        display: none;
    }

    &.badge-circle-no-sizes {
        width: unset;
        height: unset;
        min-width: unset;
    }

    &.circle-small {
        width: 36px;
        height: 36px;
        min-width: 36px;
        font-size: 14px !important;
        line-height: 12px !important;
    }

    &:hover {
        color: $gray-dark;
        border-color: $gray-dark;
        opacity: 1 !important;
        background: #fff;
    }

    &.on-list {
        animation: size .4s;
        color: #fff;
        opacity: 1.0;
        border: 1px solid $primary;
        background-color: $primary;
    }
}

.badge:not(.badge-pill, .badge-outline-secondary) {
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 2ch;
    padding-right: 2ch;
}

.badge-pill {
    padding-top: .3em;
    padding-bottom: .3em;
    min-width: 2.2em;
}