/* Breadcrumb */

.breadcrumb {
    // background-color: transparent;
    // padding: 0;
    // font-size: rem(11px);
    color: $brand-tone25;
    text-transform: uppercase;
    font-weight: 700;
    a,
    a:hover,
    a:visited,
    a:active {
        color: $brand-tone50;
    }

    & > li:after {
        padding: 0 0.17em 0 0.1819em;
    }
}
