// .cfg-item-description {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     flex-grow: 1;
//     margin: map_get($spacers, 2) 0;
// }

// .product-configuration {
//     margin-top: map_get($spacers, 2);
//     margin-bottom: map_get($spacers, 5);
// }

.bg-recommendation {
    background-color: $bg-config-recommendation;
}

#cfg-container {
    .hr-sect {
        @include media-breakpoint-down(md) {
            text-align: initial;
            border-top: 0;
            border-bottom: 0;
            padding: initial;
            margin: initial;
            &::before {
                margin: 0 30px 0 0;
            }
            &::after {
                margin: 0 0 0 30px;
            }

            &::before,
            &::after {
                content: '';
                background: $hr-border-color;
                height: 1px;
                font-size: 0;
                line-height: 0;
            }

            a {
                text-decoration: none;
                border-bottom: $highlight-border-size solid transparent;
                font-weight: $font-weight-bold;
            }
        }
    }
    .cfg-footnote {
        text-align: center;
        margin-top: 1.8rem;
        color: $text-muted;
    }
    .modal-body {
        padding: 1rem 0 0;
    }
    .cfg-price {
        text-align: right;
        white-space: nowrap;
    }
}

#cfg-modal-tabs {
    margin-top: auto;

    .nav-link-text {
        display: none;
        margin-left: map_get($spacers, 2);
        @include media-breakpoint-up(sm) {
            display: inline-flex;
        }
    }
}

#cfg-tab-summary-finish {
    margin: auto;
}

#configuration-table .vat_info {
    color: $text-muted;
}
.modal-body .tab-content {
    margin-top: 0;
    margin-bottom: 1rem;
}

#cfg-modal-tabs {
    margin-bottom: -1rem;
}

.cfg-options {
    height: calc((var(--vh, 1vh) * 78) - 4rem);
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    @include media-breakpoint-down(sm) {
        height: calc((var(--vh, 1vh) * 87) - 6rem);
    }
}

#cfg-nav {
    height: calc((var(--vh, 1vh) * 78) - 4rem);
    z-index: $zindex-sticky - 1;
    align-content: flex-start;
    .nav {
        width: 100%;
    }
}

.cfg-group {
    // .group-description {
    //     margin-bottom: map_get($spacers, 3);
    //     img {
    //         margin-bottom: map_get($spacers, 3);
    //     }
    // }
    // .config-item {
    //     cursor: pointer;
    //     display: block;
    //     padding: $alert-padding-y;
    //     border: 2px solid $cool-white;
    //     //margin-bottom: map_get($spacers, 5);
    //     @include border-radius($dropdown-border-radius);
    //     .badge-circle {
    //         display: none;
    //     }
    //     @include media-breakpoint-down(sm) {
    //         padding: map_get($spacers, 2);
    //     }
    // }

    // .cfg-swatch {
    //     ~ .custom-control-label::before,
    //     ~ .custom-control-label::after {
    //         display: none;
    //     }
    //     &:disabled ~ .custom-control-label .config-item {
    //         cursor: default;
    //         background: $cool-white;
    //         color: $gray-500;
    //     }
    // }

    // .custom-control {
    //     margin-right: 0;
    //     padding-left: 0;
    // }

    // .cfg-swatch:checked ~ .custom-control-label .config-item {
    //     border-color: $primary;
    //     .badge-circle {
    //         display: flex;
    //         background-color: $primary;
    //         border-color: $primary;
    //         color: #fff;
    //         opacity: 1;
    //         align-items: center;
    //         position: absolute;
    //         top: -20px;
    //         right: -22px;
    //         i {
    //             margin-left: auto;
    //             margin-right: auto;
    //         }
    //         &.circle-small {
    //             top: -12px;
    //             right: -14px;
    //         }
    //     }
    // }
    .drpdwn_qnt {
        display: none;
    }

    .config-option-dropdown {
        margin-top: map_get($spacers, 3);
        .config-option-dropdown-description {
            margin-bottom: map_get($spacers, 2);
        }
    }
    .form-counter .btn {
        background-color: $white;
        &:hover {
            background-color: $gray-lighter;
        }
    }
}

.cfg-group-info {
    // text-align: center;
    // margin-bottom: map_get($spacers, 4);
    z-index: $zindex-sticky - 1;
    top: var(--adm-sticky-top-offset);
}

// .config-table {
//     .accent-bg {
//         background: $table-accent-bg;
//     }
// }
#product-configurator .modal-dialog {
    @include media-breakpoint-down(sm) {
        margin: 0;
        .modal-header {
            padding: 0;
            .close {
                right: 0;
                transform: none;
                background-color: transparent;
                font-size: 2rem;
                top: 8px;
            }
        }
        .hr-sect::before {
            margin: 0px 10px 0px 0px;
        }
        .btn-sm {
            padding: 0.2rem 0.5rem;
        }
    }
}

.cfg-layout-list {
    margin-bottom: map_get($spacers, 3);
}

.cfg-item-description {
    // margin: 0;
    dd,
    dl {
        margin-bottom: 0;
    }
}
.cfg-item-qty {
    text-align: right;
    @include media-breakpoint-down(md) {
        margin-top: map_get($spacers, 2);
    }
}

// .cfg-layout-gallery {
//     .product-configuration-sidebar-wrapper {
//         table td a {
//             text-decoration: none;
//             cursor: default;
//             &:hover {
//                 color: $body-color;
//             }
//         }
//     }
// }

.product-configuration-sidebar-wrapper {
    top: var(--adm-sticky-top-offset);
    z-index: $zindex-sticky - 1;

    // border: 1px solid $gray-500;
    // padding: 0.75rem;
    @include media-breakpoint-up(lg) {
        max-height: 90vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .cfg-summary-item {
        .col:not(:first-child) {
            padding-left: map_get($spacers, 2);
        }
        .col:not(:last-child) {
            padding-right: map_get($spacers, 2);
        }
    }
    // .cfg-group-list-wrapper {
    //     .cfg-group {
    //         border: 1px solid $gray-500;
    //         padding: map_get($spacers, 3);
    //     }
    // }
    // @include media-breakpoint-down(md) {
    //     .cfg-group-list-wrapper {
    //         .cfg-group {
    //             border: none;
    //             border-bottom: 1px solid $gray-500;
    //             padding: map_get($spacers, 4) 0;
    //         }
    //     }
    // }
}
.cfg-item-detail-button {
    .badge {
        margin-top: 0.3rem;
        padding: 0.35rem;
    }
}
#modal-article-dialog {
    .modal-body {
        max-height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
.cfg-group-icon {
    float: right;
}
.cfg-group-check {
    color: $success;
}
.cfg-group-missing {
    color: $danger;
}
.cfg-group-optional {
    .cfg-group-check {
        color: $warning;
    }
}

/* new admorris pro styles */

// .cfg-dropdown-item-description:not(:has(> .cfg-drpdwn-item.show)) {
//     display: none;
// }

.config-item__details {
    gap: 3rem;
    position: relative; /* for cfg-swatch pseudo element */
}

.config-item--custom-input {
    padding-block: map_get($spacers, 4);

    & + & {
        border-top: 1px solid $hr-border-color;
    }

    &:has(.config-item__image) .custom-control {
        margin-left: calc(($custom-control-gutter + $custom-control-indicator-size) * -1);
    }
}

.group-description .group-img, .config-item__image {
    @include adm-border-radius('xs', 'global');
}

.product-configuration-basket-add {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    .quantity-input {
        flex-grow: 1;
        flex-basis: min-content;
        text-align: center;
    }
    .add-to-basket {
        flex-basis: 0;
        flex-grow: 999;
        min-inline-size: 12rem;
    }

    .submit {
        display: block;
        width: 100%;
    }
}

.btn-description {
    padding: $btn-padding-y 0;
}
