@use 'sass:map';

.required-info {
    margin: map-get($spacers, 3) 0;
    .required-star {
        color: $danger;
    }
}

.price-range-inputs {
    .col:nth-child(2) {
        margin-left: auto;
    }

    .input-group {
        margin-bottom: map.get($spacers, 3);
    }

    .form-control {
        @include adm-border-radius('xs', 'buttons-inputs');
    }

    .input-group-append {
        height: 1.6rem;

        .input-group-text {
            border-left: 0;
            font-weight: $font-weight-bold;
            padding: $input-padding-y-sm $input-padding-x-sm;

            @include adm-border-radius('xs', 'buttons-inputs');
        }
    }

    input {
        font-weight: $font-weight-bold;
        height: 1.6rem;
        padding: $input-padding-y-sm $input-padding-x-sm;
    }
}

.price-range-slide {
    margin-left: map.get($spacers, 2);
    margin-right: map.get($spacers, 2);
}

// NOVA - floating labels
.label-slide {
    .form-group:not(.exclude-from-label-slide):not(.checkbox) {
        position: relative;

        label {
            display: block;
            background: $input-bg;
            position: absolute;
            cursor: text;
            top: 0;
            font-size: $input-font-size * 0.86;
            margin: 0;
            padding: 0 rem(5px, 16px);
            transform: translateY(-50%);
            transition: $transition-base;
            left: $input-padding-x;
            z-index: 10;
            line-height: 1.3;
            pointer-events: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: calc(100% - (2 * #{$input-padding-x}));
            &:after {
                background: $input-bg;
                height: rem(2px, 16px);
                top: 45%;
                z-index: -1;
            }
        }

        &:has(.form-control:placeholder-shown:not(:focus)) label {
            top: calc((#{$input-line-height * 1em} + #{$input-btn-padding-y * 2} + #{$input-height-border}) / 2);
            font-size: $input-font-size;
            color: $input-placeholder-color;
        }

        .form-control {
            &::placeholder {
                transition: $transition-base;
            }

            &:placeholder-shown {
                &:not(:focus) {
                    &::placeholder {
                        opacity: 0;
                    }
                    & ~ label {
                        top: calc(
                            (#{$input-line-height * 1em} + #{$input-btn-padding-y * 2} + #{$input-height-border}) / 2
                        );
                        font-size: $input-font-size;
                        color: $input-placeholder-color;
                    }
                    &.form-control-sm ~ label {
                        top: calc(
                            (#{$input-line-height-sm * 1em} + #{$input-btn-padding-y-sm * 2} + #{$input-height-border}) /
                                2
                        );
                        font-size: $input-font-size-sm;
                    }
                    &.form-control-lg ~ label {
                        top: calc(
                            (#{$input-line-height-lg * 1em} + #{$input-btn-padding-y-lg * 2} + #{$input-height-border}) /
                                2
                        );
                        font-size: $input-font-size-lg;
                    }
                }
            }
        }

        .input-group-append + input + label {
            left: 3.5rem;
        }
    }

    @each $state, $data in $form-validation-states {
        .form-group {
            ~ .#{$state}-feedback,
            ~ .#{$state}-tooltip {
                display: block;
            }
        }
    }
}

input[required],
textarea[required],
select[required] {
    & + .col-form-label::after {
        content: '*';
        color: $danger;
    }
}

@each $state, $data in $form-validation-states {
    .form-group {
        ~ .#{$state}-feedback,
        ~ .#{$state}-tooltip {
            display: block;
        }
    }
}

label[for='city'],
label[for='register-shipping_address-city'] {
    padding: 0;
}

label {
    display: block;
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;

    @include adm-border-radius('sm', 'buttons-inputs');
}

.form-group.has-error {
    .form-control {
        border: 1px solid theme-color('danger');
    }
}

// font weight bold for checked inputs
input[type='radio'],
input[type='checkbox'] {
    &:checked + label {
        font-weight: $font-weight-bold;
    }
}
