@import 'layout';
@import 'alerts';
@import 'buttons';
@import 'container';
@import 'icons';
@import 'badges';

@import 'breadcrumb';
@import 'actions';
// @import 'am-slide';
// @import 'am-slider';
@import 'filter-dropdown';
// @import 'gallery'; // import in details page only for splitting
@import 'overlay-labels';
@import 'product-cell';
@import 'product-slider';
@import 'pushed-success';

@import 'quantity-input';
@import 'forms';
@import 'ui_slider';
// @import 'slider'; // is this still in use
@import 'tables';
@import 'variations';
@import 'boxes';
// @import 'dropdowns';
@import 'card';
@import 'price';
@import 'selectionwizard';

@import 'portlets';
