#filter-checkboxes {
    margin-bottom: map-get($spacers, 4);
    @include media-breakpoint-down(md) {
        .custom-checkbox label {
            max-width: 32vw;
        }
    }
    .custom-checkbox label,
    .custom-checkbox ::after {
        cursor: pointer;
    }
}

.delete-link-times {
    position: absolute;
    z-index: 1;
    right: 0.5rem;
    top: 0.5rem;
    font-size: $font-size-lg;
}

.comparelist-table {
    margin-top: map-get($spacers, 4);
    .table tr.comparelist-row td {
        &:first-child {
            position: sticky;
            left: 0;
            z-index: $zindex-dropdown - 4;
        }
    }
    .table {
        thead th {
            &:first-child {
                z-index: $zindex-dropdown;
                border: 0 none;
                left: -1px;
            }
            &:not(:first-child) {
                z-index: $zindex-dropdown - 2;
            }
            background: $white;
            vertical-align: top;
            z-index: $zindex-dropdown - 1;
        }
        tbody td:first-child {
            background-color: $gray-200;
            font-weight: $font-weight-bold;
        }
        @include media-breakpoint-down(md) {
            td {
                padding: 0.3rem;
                &:first-child > div {
                    width: 110px;
                }
            }
            th {
                padding: 0;
            }
        }
    }

    .stretched {
        display: flex;
        flex-direction: column;
    }
    .comparelist-label-button {
        th {
            padding: 0;
            border: 0;
        }
    }
    .collapse:not(.show) {
        display: -webkit-box !important;
        -webkit-line-clamp: 4 !important;
        -webkit-box-orient: vertical !important;
        overflow: hidden !important;
    }
}

.custom-checkbox + .description {
    margin-left: $custom-control-gutter + $custom-control-indicator-size;
}
.comparelist-checkboxes {
    padding-top: map-get($spacers, 3);
    .comparelist-checkbox-wrapper {
        margin-top: map-get($spacers, 2);
        margin-bottom: map-get($spacers, 2);
    }
}
.comparelist-item {
    position: sticky;
    padding-bottom: 0;
    text-align: center;
    .comparelist-item-image {
        margin-top: map-get($spacers, 2);
        margin-bottom: map-get($spacers, 2);
    }
    .comparelist-item-more {
        padding-left: 0;
    }
}

.comparelist-delete-all {
    float: right;
}
