name: Deploy to Netcup

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *' # Täglich um 02:00 Uhr nachts

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Enable Maintenance Mode
        # Wir hängen ein "|| true" an, damit der Deploy nicht abbricht, 
        # wenn das Skript beim ALLERERSTEN Mal noch nicht auf dem Server liegt.
        run: |
          curl -s "https://mctrade24.de/maintenance_toggle.php?mode=on&token=mctrade_deploy_token_2026" || true

      - name: Sync files to Netcup via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          username: ${{ secrets.FTP_USERNAME }}
          server: ${{ secrets.FTP_SERVER }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 22 # Nutzt den SSH-Port
          local_path: './*'
          remote_path: '/httpdocs'
          sftp_only: true
          # Hier listen wir alle Ordner auf, die NICHT überschrieben werden sollen
          ignore: |
            .git*
            node_modules
            templates_c
            media/image/storage
            bilder
            mediafiles
            includes/config.JTL-Shop.ini.php
            install

      - name: Disable Maintenance Mode
        run: |
          curl -s "https://mctrade24.de/maintenance_toggle.php?mode=off&token=mctrade_deploy_token_2026" || true
